## Data Feasibility

In [39]:
import pandas as pd

In [51]:
df=pd.read_csv("/content/LI-Small_Trans.csv")

In [52]:
print(df.head())

          Timestamp  From Bank    Account  To Bank  Account.1  \
0  2022/09/01 00:08         11  8000ECA90       11  8000ECA90
1  2022/09/01 00:21       3402  80021DAD0     3402  80021DAD0
2  2022/09/01 00:00         11  8000ECA90     1120  8006AA910
3  2022/09/01 00:16       3814  8006AD080     3814  8006AD080
4  2022/09/01 00:00         20  8006AD530       20  8006AD530

   Amount Received Receiving Currency  Amount Paid Payment Currency  \
0       3195403.00          US Dollar   3195403.00        US Dollar
1          1858.96          US Dollar      1858.96        US Dollar
2        592571.00          US Dollar    592571.00        US Dollar
3            12.32          US Dollar        12.32        US Dollar
4          2941.56          US Dollar      2941.56        US Dollar

  Payment Format  Is Laundering
0   Reinvestment            0.0
1   Reinvestment            0.0
2         Cheque            0.0
3   Reinvestment            0.0
4   Reinvestment            0.0

### To get the total count of each distinct value in the dependent variable

In [41]:
def count_value(name,target,path="D:/data/MLops_data/AML_data/"):
    df=pd.read_csv(path+name+".csv")
    print(df[[target]].value_counts())
    return df

In [53]:
df[["Is Laundering"]].value_counts()

Is Laundering
0.0              21261
Name: count, dtype: int64

In [54]:
print(len(df))

21262

In [43]:
df.columns

Index(['Timestamp', 'From Bank', 'Account', 'To Bank', 'Account.1',
       'Amount Received', 'Receiving Currency', 'Amount Paid',
       'Payment Currency', 'Payment Format', 'Is Laundering'],
      dtype='object')

In [44]:
#Rename columns
new_col_names={
    "From Bank":"from_bank",
    "To Bank":"to_bank",
    "Account.1":"account",
    "Amount Received":"amount_received",
    "Receiving Currency":"receiving_currency",
    "Payment Currency":"Payment_Currency",
    "Payment_Format":"payment_format",
    "Amount Paid":"amount_paid",
    "Is Laundering":"is_laundering"
}

In [45]:
df=df.rename(columns=new_col_names)

### To balance the number of sample in each class to avoid bias in classification modeling

In [46]:
def class_balance(df,target):
  df_1=df[df[target]==1]
  df_0=df[df[target]==0]
  df_0_sample=df_0.sample(n=len(df_1))
  df_final=pd.concat([df_1,df_0_sample],axis=0)
  return df_final

In [47]:
df_main=class_balance(df,"is_laundering")

In [48]:
print(len(df_main))

8248

In [49]:
print(df_main["is_laundering"].value_counts())

is_laundering
1.0    4124
0.0    4124
Name: count, dtype: int64

In [50]:
#Save the csv
df_main.to_csv("/content/HI_Small_Trans.csv",index=False)